<div class="customer-signIn">
  <div class="sign-in-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <h3>Sign In</h3>

      <div class="email-container">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email" autocomplete="new-password">
        <p class="custom-error" *ngIf="email?.touched && email?.errors?.required">Email Address is required.</p>
        <p class="custom-error" *ngIf="email?.touched && email?.errors?.email">Email Address is incorrect format.</p>
      </div>

      <div class="password-container">
        <label for="password">Password </label>
        <input type="password" id="password" name="password" formControlName="password"  autocomplete="new-password">
        <p class="custom-error" *ngIf="password?.touched && password?.errors?.required">Password is required.</p>
        <p class="custom-error" *ngIf="password?.touched && password?.errors?.minlength">Password must have 6 minimum characters.</p>
      </div>

      <div class="bottom-form">
        <div class="register-container">
          <a routerLink="/signup">Sign Up Now</a>
        </div>

        <div class="btn-submit">
          <button type="submit">Sign In</button>
        </div>
      </div>





      <!-- <div class="name">
        <div class="first-name">
          <label>First Name</label>
          <input type="text" name="firstname" formControlName="firstname">
        </div>

        <div class="last-name">
          <label>Last Name</label>
          <input type="text" name="lastname" formControlName="lastname">
        </div>
      </div>

      <div class="email-container">
        <label>Email</label>
        <input type="text" name="email" formControlName="email" autocomplete="off">
      </div>

      <div class="password-container">
        <label>Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="new-password">
      </div>
      <div formGroupName="address">
        <div class="address-container">
          <label>Address</label>
          <input type="text" name="address" formControlName="address" autocomplete="off">
        </div>

        <div class="city-container">
          <label>City</label>
          <input type="text" name="city" formControlName="city">
        </div>

        <div class="state-container">
          <label>State</label>
          <input type="text" name="state" formControlName="state">
        </div>

        <div class="submit">
          <button>Submit</button>
        </div>
      </div>-->
    </form>
  </div>
</div>



<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email">
    <p class="custom-error" *ngIf="email?.touched && email?.errors?.required">Email Address is required.</p>
    <p class="custom-error" *ngIf="email?.touched && email?.errors?.email">Email Address is incorrect format.</p>
  </div>

  <div>
    <label for="password">Password </label>
    <input type="password" id="password" name="password" formControlName="password">
    <p class="custom-error" *ngIf="password?.touched && password?.errors?.required">Password is required.</p>
    <p class="custom-error" *ngIf="password?.touched && password?.errors?.minlength">Password must have 6 minimum characters.</p>
  </div>

  <button class="auth-btn flex-center-center" type="submit">
    Sign In
  </button>
</form> -->
